In [30]:
x = list(range(1,100))
x; x.reverse(); x
x.sort();x
y = list(range(1,50))
x1 = list(range(1,67))
stack = [] 
stack.append('a'); stack.append('b')
print(stack)

['a', 'b']

In [36]:
s = 'Sun, Mon, Tue, Wed, Thu, Fri, Sat'
x = s.split(','); print(x)

['Sun', ' Mon', ' Tue', ' Wed', ' Thu', ' Fri', ' Sat']

In [47]:
t0 = ()
t1 = ('one',)
t2 = ('one', 2, stack, 'four', 5.0)
t2
t2[2][1]
t2[0:4:2]

('one', ['a', 'b'])

In [58]:
t3 = 1,2,3
a, b, c = 1, 2, 3
a + c
a, b=b, a
a
b

1

In [60]:
list('string')

['s', 't', 'r', 'i', 'n', 'g']

In [61]:
tuple([1,2,'three'])

(1, 2, 'three')

In [64]:
math_courses = (['ma305', 'ma345','ma432'])
for i in math_courses:
    print(i)

ma305
ma345
ma432

In [76]:
n=len(math_courses)
for i in range(n):
    print(i, ':', math_courses[i])

0 : ma305
1 : ma345
2 : ma432

In [75]:
range(5)[2]; range(1,6)[3]; list(range(0,6,2)); #notes
list(range(10, 0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
list(range(0,6,2))

[0, 2, 4]

In [73]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [78]:
for j, i in enumerate(math_courses):
    print(j,':',i)

0 : ma305
1 : ma345
2 : ma432

In [86]:
L1 = [1,2,3,4,5]
L2 = ['a','b','c','d','e']
for pair in zip(L1,L2):
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [94]:
L3 = [0,1,2,3]
L4 = [1,2,3,6,7,8,9]
L5 = ['a','b','c','d']
z = zip(L3,L4,L5)
for item in zip(*z):
    print(item)

(0, 1, 2, 3)
(1, 2, 3, 6)
('a', 'b', 'c', 'd')

In [110]:
sum = 0
list_1 = [21,17,9,95,67,81]
for i in list_1:
    sum = sum + i 
print(sum)

290

In [114]:
for x in range(10):
    if x % 2:
        print(x, 'is odd')
    else:
        print(x, 'is even')

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [116]:
i = 0 
while (i<10):
    i += 1
    print('hello ', i)
print()

hello  1
hello  2
hello  3
hello  4
hello  5
hello  6
hello  7
hello  8
hello  9
hello  10

In [126]:
a, b = 120, 20
print('a=', a, 'b=', b)
while b:
    a, b = b, a%b
print('greatest common divisor of a and b:', a)

a= 120 b= 20
greatest common divisor of a and b: 20

In [128]:
i=0
while True:
    i += 1
    if not (i%15 or i%25):
        break
print(i, 'is divisible by both 15 and 25')

75 is divisible by both 15 and 25

In [130]:
for i in range(1,11):
    if i % 2:
        continue
    print(i, 'is even!')

2 is even!
4 is even!
6 is even!
8 is even!
10 is even!