# MA 506 Probability and Statistical Inference

# 1 Python data types

This notebook discusses the various data types available by default in Python. Additional data types like array and dataframes are possible from additional packages like Numpy and Pandas etc.

## 1.1: String data types

String is defined in double or single qoutes in python

In [2]:
s = 'Hello World'
print(f'Variable s has value: {s}')
print(f'Type of s is: {type(s)}')  ## type(s) gives the class to which s belongs

Variable s has value: Hello World
Type of s is: <class 'str'>

print function expects string as arguments. print('Variable s has value: '+s) basically concatenates two strings using the + operator and prints the resultant string. For example

In [3]:
'this'+' '+'is'

'this is'

Same example with double quotes

In [4]:
s = "Hello World"
print(f'Variable s has value: {s}')
print(f'Type of s is: {type(s)}')

Variable s has value: Hello World
Type of s is: <class 'str'>

### Single and double quotes

Suppose we want to print the string: Sam's car

Then double quotes is required to define this string so that python is able to differentiate between outer quotes and ' in Sam's car. Hence following would give an error

In [5]:
s = 'Sam's car'
print(s)

SyntaxError: unterminated string literal (detected at line 1) (1888758225.py, line 1)

This is the correct way to do it.

In [6]:
s = "Sam's car"
print(s)

Sam's car

One more example

In [7]:
print('"Hi"')

"Hi"

## 1.2: Numerical Types

Here we show how to define different kind of numerical data types

In [8]:
a = 1
type(a)

int

In [9]:
b = 1.1
type(b)

float

In [15]:
type(a+b)

float

In [10]:
a1 = float(a)
print(a1)

1.0

Casting float as integer removes the decimal part

In [11]:
a = 2.1
b = int(a)
b

2

We can also do complex data types

In [12]:
c = complex(2+1.1j)
type(c)

complex

Separating the real and imaginary components

In [13]:
print(f'The real part is: {c.real}')
print(f'The imaginary part is: {c.imag}')

The real part is: 2.0
The imaginary part is: 1.1

## 1.3: Sequence Types

Defining data objects in python which are structured as a collection and have the notion of indexing

In [14]:
a = [1,2,3,4]
type(a)

list

Many other operations like appending is possible for the list object

In [15]:
a.append(5)
a

[1, 2, 3, 4, 5]

In [16]:
#a.remove(2)
#a

For accessing elements in the list:
1. 0 index denotes the first element in the list. Indexing in python always starts from 0 (unless specified otherwise)
2. -1 is the index of the last element, -2 is the index of the second last element and it goes like that from the back

In [17]:
print(a[0],a[2],a[-1],a[-2])

1 3 5 4

Like list, we also have a data object called as tuple. It uses () instead of [] (as in list)

In [18]:
b = (1,2,3)
type(b)

tuple

Re-assigning elements in the list and tuple object. 

With list it works fine when we try to assign the element at index 0 to 9. Right now it is 1 (for list a)

In [19]:
a

[1, 2, 3, 4, 5]

In [20]:
a[0] = 9
a

[9, 2, 3, 4, 5]

However, tuple is an immutable object, so reassigning values is not possible with the tuple object

In [21]:
b[0] = 9
b

TypeError: 'tuple' object does not support item assignment

Using range function to generate the sequence

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Testing various ways of generating a list object. For better understanding, try to think why these commands lead to the following output

In [23]:
c1 = list(range(10));print(c1)
c2 = list(range(0,10));print(c2)
c3 = list(range(1,10));print(c3)
c4 = list(range(10,20));print(c4)
c5 = list(range(10,5));print(c5)
c6 = list(range(-2,10));print(c6)
c7 = list(range(-2,10))[2:10];print(c7)
c8 = list(range(-2,10))[:-10];print(c8)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[]
[-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]
[-2, -1]

Another way of generating a list using range and using a for loop to iterate over the range object

In [24]:
d = [i for i in range(2,10)]
d

[2, 3, 4, 5, 6, 7, 8, 9]

For example we can use this method to compute a list of log of number from 1 to 9. Here I am using the numpy package as numpy includes the log functionality

In [25]:
import numpy as np
d = [np.sin(i) for i in np.arange(1,10)]
d

[0.8414709848078965,
 0.9092974268256817,
 0.1411200080598672,
 -0.7568024953079282,
 -0.9589242746631385,
 -0.27941549819892586,
 0.6569865987187891,
 0.9893582466233818,
 0.4121184852417566]

## 1.4: Mapping type

These kind of objects basically have a key value pair. For example the dictionary object in python

In [26]:
Dict = {
    'Tom':[1,2,3],
    'Sam':(5,6,7),
    'Eric': list(range(10)),
    1:[1,2]
    
}
Dict

{'Tom': [1, 2, 3],
 'Sam': (5, 6, 7),
 'Eric': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 1: [1, 2]}

Here for example 'Tom' would be a key and [1,2,3] would be an object. Please note we have used a mixture of strings and an integer as key here. This is valid for dictionaries

We cannot use indexing here because dictionary is just a collection of key value mapping pairs

In [27]:
Dict[0]

KeyError: 0

For accessing the elements we have to index the dictionary object with a key value

In [28]:
Dict['Tom']

[1, 2, 3]

In [29]:
Dict[1]

[1, 2]

## 1.5. Set types

Set is again a collection. Here also we dont usually have indexing. Uses {} to define

In [30]:
a = {10,1,2,3}
type(a)

set

In [31]:
a[0]

TypeError: 'set' object is not subscriptable

Editing the set object is possible. For example adding one more integer to the object a

In [32]:
a.add(11)
print(a)

{1, 2, 3, 10, 11}

We can generate some sort of ordering from a set by using other functions like

In [33]:
print(sorted(a))  ## gives ascending order

[1, 2, 3, 10, 11]

frozensets are immutable analogs to sets

In [34]:
b = frozenset(a)
type(b)

frozenset

In [35]:
b.add(10)
print(b)

AttributeError: 'frozenset' object has no attribute 'add'

## 1.6. Boolean Types

This type of variable only allows two states: True or False

In [36]:
a = bool(-2)
a

True

In [37]:
print(bool(100),bool(10),bool(-30),bool(0))

True True True False

An int, float or complex number set to zero returns False. An integer, float or complex number set to any other number, positive or negative, returns True.

In [38]:
print(bool(complex(10j)))
print(bool(0))
print(bool(complex(0+0j)))

True
False
False

In [39]:
print(str(1>3)+', '+str(1<3)+', '+str(1==3))

False, True, False

# 2. Control Flow

Here we will discuss ways to reorder the the default execution ordering

## 2.1 Conditional Statements

In [40]:
if 5<6:
    print('You are good in math')

You are good in math

In [41]:
if 5>6:
    print('You are good in math')

In [42]:
if 5>6:
    print('You are good in math')
else:
    print('Sorry you need to improve')

Sorry you need to improve

In [43]:
if 5>6:
    print('You are good in math')
elif 0<1:
    print('You are good but need to improve')
else:
    print('You need to improve')

You are good but need to improve

## 2.2 Loops

### 1. For loops

In [44]:
for i in range(3):
    print(i)

0
1
2

In [45]:
for j in [1,2,3]:
    print(j)

1
2
3

In [50]:
dictt = {
    2:'I',
    0:'Hi',
    3:'am',
    4:'Prashant'
}

In [54]:
for i in dictt:
    print(i,dictt[i])

2 I
0 Hi
3 am
4 Prashant

In [55]:
for i in sorted(dictt):
    print(i,dictt[i])

0 Hi
2 I
3 am
4 Prashant

### 2. While loop

In [56]:
a = 0
while(a<5):
    print(a)
    a=a+1

0
1
2
3
4

Special Iterable objects

In [57]:
for a in 'abcde':
    print(a)

a
b
c
d
e

In [58]:
for i in ['Hi','how','are','you']:
    print(i)

Hi
how
are
you

There is no do-while loop in python

### 3. Break, continue and pass statements

1. Break statement is used to move out of the loop. 
2. Continue statement is used to stop the current iteration and move forward with the next iteration. 
3. Pass statement can be used to write a placeholder definition of a loop. 

For your understanding try to explain the code in the following two cells.

In [59]:
a = 0
while(a<5):
    print(a)
    if a>2:
        break
    a = a+1

0
1
2
3

In [60]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [61]:
for i in range(10):

SyntaxError: incomplete input (2213876541.py, line 1)

In [62]:
for i in range(10):
    pass

## 2.3 Conditional expression

These are expressions for checking conditions

### == statement

In [63]:
a = 1;b = 2
a == b

False

### 'in' statement

In [64]:
c = [1,2,3]
a in c

True

### 'is' statement

In [65]:
a = 1
b = 1
a == b

True

In [69]:
a = [1,12,3]
d = [1,12,3]
a is d

False

In [71]:
id(a),id(d)

(4388484672, 4388458176)

In [72]:
a = [1,12,3]
d = a
a is d

True

### >=, != statements

In [73]:
a = 10
b= 5
a>=b

True

Checking not equal to

In [74]:
a!=b

True

# 3 Functions

For defining functions we use the following syntax. def is the keyword used to define functions in python. Here summation is the function name and `a' and 'b' are parameters. Return is a keyword used to return a value to the calling program

In [75]:
def summation(a,b):  ## summation is the function name
    summ = a+b
    return summ   ## return statement is optional

Now passing 1 and 2 as parameters computes the sum of the two numbers

In [76]:
summation(1,2)

3

Based on the definition of the function, it always requires two parameters (denoted by a and b in the definition). So calling a function without any parameters would produce an error.

In [77]:
summation()

TypeError: summation() missing 2 required positional arguments: 'a' and 'b'

We can have a definition of function as follows where we can assign default values of 10 and 20 to a and b so that no error is produced when no parameter is passed.

In [78]:
type(summation)

function

In [79]:
def summation_1(a=10,b=20):  ## providing default parameters
    summ = a+b
    return summ

In [80]:
print(summation_1(1,2))
print(summation_1()) ## when no parameters passed it just assumes a and b as 10 and 20

3
30

## 3.1 Lambda functions

A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression. For example following is a lambda function to add 10 to a number

In [81]:
x = lambda a: a + 10
print(x(10))

20

Two inputs at ones

In [82]:
y = lambda a,b: a**b
print(y(2,3))

8

## 3.2 Be careful while changing values in the function

Value of variable changed inside a function are not reflected outside

In [85]:
def change_values(a):
    a = a*2
    print('Value of a after change inside the function is: '+str(a))

In [86]:
a = 10  ## original value of a 
print('Original value of a: '+str(a))
change_values(a)  ## a function changing the value of 'a' internally
print('However  value of a outside the function is still: '+str(a)) ## You will see still the value is unchanges

Original value of a: 10
Value of a after change inside the function is: 20
However  value of a outside the function is still: 10

However, if a list is changed it retains the change outside the function as well. So you should be careful while changing values inside a function.

In [87]:
def changelist(l):
    l.append(1)
    print('printing the list after changing it within the function '+str(l))

In [88]:
l = [-1,-2,-3]
print('Original list is: '+str(l)) 
changelist(l)
print('Printing the list after function call is finished: '+str(l))  ## modified

Original list is: [-1, -2, -3]
printing the list after changing it within the function [-1, -2, -3, 1]
Printing the list after function call is finished: [-1, -2, -3, 1]

## 3.3 Global variable

Variable defined outside the function is accessible from inside.

In [89]:
a = 10  ## Global variable
def add_num(b): 
    b = b+a  ## a is still accessible inside.
    print(b)
add_num(10)

20

## 3.4 Variable number of parameters

If we want to define a function which takes variable number of parameters. For example 1 parameter or 2 or even more, we use the following syntax. The following function gives the product of numbers passed as an argument.

In [90]:
def mult(*data):
    prod = 1
    for j in data:
        prod = prod*j
    return prod

In [91]:
mult(2) ## There is just one number so product will return the number itself

2

In [92]:
mult(2,2,10)  ## Will produce product of 2 and 2

40

Now if you want to have a function definition which can handle variable number of arguments both as usual arguments and as key value pairs, use the following following syntax

In [97]:
def myfunc(*args, **kwargs):
    for a in args:
        print(a)
    for x in kwargs:
        print(x,kwargs[x])
        
## kwargs here handle the key value pairs

In [98]:
myfunc('Toni',age=30,birth_place='London')

Toni
age 30
birth_place London

In [99]:
myfunc('Toni','Sam',age1=30,birth_place1='London',age2=30,birth_place2='Sydney')

Toni
Sam
age1 30
birth_place1 London
age2 30
birth_place2 Sydney

## 3.5 Returning multiple things

You can return multiple things from a function if required

In [100]:
def mult_sum(*data):
    prod = 1
    for j in data:
        prod = prod*j
    
    summ = 0
    for j in data:
        summ = summ+j
    return prod,summ  ## can return many things together

In [101]:
mult_sum(2,20.4)  # 2*20.4 = 40.8 and 2 + 20.4 is 22.4

(40.8, 22.4)

In [102]:
mult_sum(1),mult_sum(2,20)

((1, 1), (40, 22))

# 4 Input and Output in Python

Following code creates a file MyFile.txt in the same folder as this notebook. 'w' mode here indicates it is opened for writing new stuff. Other available options are explained in the lecture 2 slides

## Write stuff

In [103]:
file1 = open("MyFile.txt","w")

Now writing numbers 0 to 9 to this text file

In [104]:
for j in range(10): 
    file1.write(str(j)+'\n')  ## \n enables to write each number in a new line
    #file1.write(str(j))
file1.close()

## Read stuff

In [105]:
with open("MyFile.txt") as f:
    content = f.readlines()
    for j in content: 
        print(j[:-1])

0
1
2
3
4
5
6
7
8
9

Another way for reading stuff from this file

In [106]:
file1 = open("MyFile.txt","r")
content = file1.readlines()
for j in content: 
    print(j[:-1])
file1.close()

0
1
2
3
4
5
6
7
8
9

## Append stuff

'a' mode denotes append. using this we can append more content into the file

In [107]:
file1 = open("MyFile.txt","a")
for j in range(10,20):
    file1.write(str(j)+'\n')
    #file1.write(str(j))
file1.close()

Finally printing full contents of the file

In [108]:
file1 = open("MyFile.txt","r")
content = file1.readlines()
for j in content: 
    print(j[:-1])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Error and Exception Handling

Usually if some error occurs while execution, the program stops right there

In [109]:
for i in range(10):
    print(i)
    print(i+'sam')

0

TypeError: unsupported operand type(s) for +: 'int' and 'str'

However we can define an exception where a program uses 'try' and 'except' clause like this. Here in the try statement the program is trying to add integers with a string 'sam' so it will produce an error. However, the program wont stop and just execute the except clause instead. More details are in lecture 2 slides

In [110]:
for i in range(10):
    try:
        print(i+'sam')
    except:
        print('sorry')

sorry
sorry
sorry
sorry
sorry
sorry
sorry
sorry
sorry
sorry

Here we will try to convert a string 's' to an integer, since that would usually produce an error. Here the prgram will not stop because of the error and will execute the except clause.

In [111]:
a = 's'
try:
    print(int(a))
except:
    print('Check the data type')

Check the data type

There are different types of exceptions (error classes) in python. Please look at the slide for more details

In [112]:
a = 'a'
try:
    print(int(a))
except ValueError:
    print('Check the datatype')

Check the datatype